/* Main Styles */
html, body {
    background-color: #ECEBF0;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #3C3D3B;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    background-color: #687D77;
    color: #ECEBF0;
    width: 100%;
    padding: 20px;
}

.manage {
    width: 50%;
    height: 30%;   
    display: table;
    background-color: #B0B5AE;
    padding: 10px;
    border: 3px solid #687D77;
    border-radius: 5px;
    color: #3C3D3B;
    margin: auto;
    overflow: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    position: fixed;
    z-index: 999;
    box-shadow: 0px 0px 1px 5000px   rgba(88, 88, 88, 0.9);
}

.manage-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Table Styles */
table {
    margin: 0 auto;
}

.taskList {
    width: 60%;
    background-color: #B0B5AE;
    margin: 30px 0px;
    padding: 10px;
    border: 3px solid #687D77;
    border-radius: 5px;
}

td, th {
    padding: 10px;
    margin: 0px;
    border-bottom: 1px dashed #353129;
}

td {
    cursor: pointer;
}

td:hover {
    color: #ECEBF0;
}

/* Task Styles */
.completeTask {
    color: rgba(72, 74, 71, 0.75);
    text-decoration: line-through;
}

.overdueTask {
    color: darkred;
    font-weight: bold;
}

/* Button Styles */
button {
    padding: 0px;
    margin: 0 auto;
    border: 0;
    outline: 0;
}

.main-btn {
    font-size: 16pt;
    padding: 0px 10px;
    margin: 0px 20px;
    background-color: #687D77;
    color: #ECEBF0;
    outline: 0;
    cursor: pointer;
}

.main-btn:hover {
    color: #353129;
}

.manage-container > div > button {
    background-color: #B0B5AE;
    color: #51615C;
}

.manage-container > button {
    background-color: #B0B5AE;
    color: #51615C;
}

.categoryButton {
    padding: 10px;
    background-color: rgba(72, 74, 71, 0);
    color: #51615C;
    font-size: 14pt;
    cursor: pointer;
}

.taskButton {
    padding: 10px;
    background-color: #B0B5AE;
    color: #51615C;
    font-size: 14pt;
    cursor: pointer;
}

/* Input styles */

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    width: 200px;
    background: #ECEBF0;
    line-height: 2.5;
    overflow: hidden;
    border-radius: .25em;
    font-size: 10pt;
    margin: 0;
    padding: 0 0 0 .5em;
    color: #687D77;
    cursor: pointer;
}

#dueDateIn {
    font-size: 12pt;
    margin: 10px;
    background-color: #ECEBF0;
    color: #2F302E;
}

#taskNameIn {
    width: 80%;
    padding: 10px;
    margin: 10px;
    background-color: #ECEBF0;
    font-size: 12pt;
    border: 0;
    outline-color: #687D77;
}

#newCategoryIn {
    width: 50%;
    padding: 10px;
    background-color: #ECEBF0;
    font-size: 12pt;
    border: 0;
    outline-color: #687D77;
}